@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("/fonts/Text.woff") format("woff"),
    url("/fonts/Text.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mono";
  font-display: fallback;
  src: url("/fonts/Mono.woff") format("woff"),
    url("/fonts/Mono.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nikolai";
  font-display: fallback;
  src: url("/fonts/Nikolai-Italic.woff") format("woff"),
    url("/fonts/Nikolai-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

:root {
  --background: rgb(255, 255, 255);
  --background-alpha: 255, 255, 255;
  --foreground: rgb(0, 0, 0);
  --foreground-alpha: 0, 0, 0;
  --subdued: rgb(140, 140, 140);
  --extra-subdued: rgb(220, 220, 220);
  --accent: rgb(245, 42, 42);
  --accent-alpha: 245, 42, 42;
  --font-sans: "Text", system, -apple-system, "Helvetica Neue", Helvetica,
    "Segoe UI", "Roboto", sans-serif;
  --font-mono: "Mono", SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}

::selection {
  background-color: var(--accent);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
    --background-alpha: 0, 0, 0;
    --foreground: rgb(255, 255, 255);
    --foreground-alpha: 255, 255, 255;
    --subdued: rgb(168, 168, 168);
    --extra-subdued: rgb(30, 30, 30);
  }

  ::selection {
    color: var(--foreground);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  cursor: crosshair;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

h1 {
  font-family: "Nikolai", serif;
  font-size: 2em;
  font-style: italic;
  line-height: 1;
  margin-bottom: 1em;
}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: var(--foreground);
  transition: opacity 150ms ease;
}

h1 a:hover {
  opacity: 0.64;
}

h2 {
  font-family: "Nikolai", serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  color: var(--subdued);
}

h4 + p {
  margin-top: 0.125em;
}

h1 + p,
h2 + p,
h3 + p,
h3 + ul,
p + p,
p + ul {
  margin-top: 0.5em;
}

p + h4 {
  margin-top: 1em;
}

p + h3,
ul + h3 {
  margin-top: 2em;
}

.m0 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 150ms ease;
}

a:hover {
  cursor: crosshair;
  color: var(--accent);
}

ul:not(.text-list) {
  padding: 0 0 0 1.5em;
}

ul:not(.text-list) li + li {
  margin-top: 0.25em;
}

hr {
  border: none;
  background: var(--extra-subdued);
  width: 100%;
  max-width: 4em;
  height: 1px;
  margin: 2em 0;
}

header {
  padding-right: 2em;
}

footer {
  margin-top: 4em;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  margin-top: 0.5em;
}

.top-nav .separator {
  display: none;
}

.content {
  flex: 1;
}

.subdued {
  color: var(--subdued);
}

.error {
  color: var(--accent);
}

.mono {
  font-family: var(--font-mono);
}

.small {
  font-size: 0.875em;
}

.underline {
  text-decoration: underline;
}

.intro-lists {
  display: flex;
  column-gap: 4rem;
  row-gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.text-list {
  list-style: none;
  padding: 0;
}

.projects {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  counter-reset: li;
  border-top: 2px dotted var(--extra-subdued);
}

.projects li {
  padding: 0.5em 2em 0.5em 0;
  position: relative;
  border-bottom: 2px dotted var(--extra-subdued);
}

.projects li:before {
  position: absolute;
  right: 0;
  counter-increment: li;
  content: "0" counter(li, decimal-leading-zero);
  color: var(--subdued);
  font-family: var(--font-mono);
}

.projects .title {
  flex-grow: 1;
}

.projects .description {
  color: var(--subdued);
}

.tldr {
  background: var(--foreground);
  color: var(--background);
  padding: 2em 2em 2em 2em;
  margin: 2em 0;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

.contact-form-footer {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

.input-group label {
  display: block;
  margin-bottom: 0.1em;
}

.radio-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

input,
textarea,
input[type="radio"] {
  border: none;
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:not([type="radio"]),
textarea {
  padding: 0.5em 1em;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--subdued);
  background: rgba(var(--foreground-alpha), 0.04);
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.1);
  border-radius: 0.5em;
  transition: color 150ms ease, background-color 150ms ease,
    box-shadow 150ms ease;
}

input:not([type="radio"])::placeholder,
textarea::placeholder {
  color: var(--extra-subdued);
}

input:not([type="radio"]):hover,
input:not([type="radio"]):focus-visible,
textarea:hover,
textarea:focus-visible {
  outline: none;
  color: var(--foreground);
  background: rgba(var(--foreground-alpha), 0);
}

input:not([type="radio"]):focus-visible,
textarea:focus-visible {
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.4);
}

textarea {
  min-height: 8em;
  resize: none;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  position: fixed;
  pointer-events: none;
}

input[type="radio"] + label {
  display: flex;
  align-items: flex-start;
  gap: 0.6em;
  position: relative;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--subdued);
  margin: 0;
  padding: 0.5em 1em;
  background: rgba(var(--foreground-alpha), 0.04);
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.1);
  border-radius: 0.5em;
  transition: color 150ms ease, background-color 150ms ease,
    box-shadow 150ms ease;
}

input[type="radio"]:checked + label {
  color: var(--foreground);
}

input[type="radio"]:hover + label,
input[type="radio"]:focus + label,
input[type="radio"]:focus-visible + label {
  cursor: pointer;
  background: rgba(var(--foreground-alpha), 0);
}

input[type="radio"]:focus + label {
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.4);
}

input[type="radio"] + label:before {
  content: "";
  display: block;
  border: 1px solid rgba(var(--foreground-alpha), 0.1);
  width: 0.6em;
  height: 0.6em;
  border-radius: 1em;
  margin: 0.45em 0;
  transition: border-color 150ms ease, background-color 150ms ease;
}

input[type="radio"]:hover + label:before,
input[type="radio"]:focus-visible + label:before {
  border: 1px solid rgba(var(--foreground-alpha), 0.4);
}

input[type="radio"]:checked + label:before {
  background: var(--foreground);
  border-color: var(--foreground);
}

button,
.button {
  position: relative;
  display: inline-flex;
  padding: 0.5em 1em;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  color: var(--background);
  background: var(--foreground);
  border-radius: 0.5em;
  transition: background-color 150ms ease;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
  background: rgba(var(--foreground-alpha), 0.8);
  cursor: pointer;
  text-decoration: none;
}

button:focus-visible,
.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent);
}

button:disabled,
button:disabled:hover {
  cursor: inherit;
  background: rgba(var(--foreground-alpha), 0.3);
  color: var(--background);
}

button .loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
}

button.loading {
  color: transparent;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
}

.loading-indicator:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  border-top: 2px solid currentColor;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: rotate 650ms ease-in-out infinite;
}

@media (min-width: 40rem) {
  .wrapper {
    padding: 6em 4em 3em 4em;
    max-width: 44em;
  }

  .top-nav {
    grid-template-columns: repeat(3, max-content);
    grid-gap: 1em;
  }

  .top-nav .separator {
    display: initial;
  }

  .projects li {
    display: flex;
    padding-left: 2.5em;
    padding-right: 0;
  }

  .projects li:before {
    left: 0;
    right: auto;
  }

  .projects .description {
    text-align: right;
    padding-left: 0.5em;
  }

  .contact-form-footer {
    display: block;
  }
}